<!--Header-->
<div class="Head">
    <div class="Constr fix">
        <div class="l mr20">
            <a href="home/home.html" class="g3 tdn">
                <img src="{{path}}../images/logo.png" alt="logo" class="vm ml30">
            </a>
        </div>
        <ul class="r mt5 mr20">
            <li class="Nav_item">
                <a href="../lessons/lessons.html" title="Lessons">
                    <img src="{{path}}../images/study.png"alt="study" width="48px", height="48px">
                </a>
            </li>
            <li class="Nav_item">
                <a href="../setting/setting.html#0" title="Setting">
                    <img src="{{path}}../images/setting.png" alt="Setting" width="48px", height="48px">
                </a>
            </li>
            <li class="Nav_item">
                <a class="Nav_a" href="../admin/admin.html#1" title="Admin">
                    <img src="{{path}}../images/administrator.png" alt="Admin" width="48px", height="48px">
                </a>
            </li>
            <li class="Nav_item">
                <a class="Nav_a" href="../help/help.html" title="Help">
                    <img src="{{path}}../images/help.png" alt="Help" width="48px", height="48px">
                </a>
            </li>
        </ul>
    </div>
</div>
<!--Header end-->
