<div class="modal-dialog rel" role="document">
    <div class="alert alert-success dn" id="alert-success"  role="alert" style="position: absolute; width: 100%; top:50%; z-index: 100;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        操作成功
    </div>
    <div class="alert alert-danger dn"  id="alert-danger" role="alert" style="position: absolute; width: 100%; top:50%; z-index: 100;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        操作失败
    </div>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">新增用户</h4>
      </div>
      <div class="modal-body">
        <div class="row-fluid">
            <form class="form-horizontal" id="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" >名称</label>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" name="username" value="{{list.username}}" placeholder="名称">  
                    </div>
                    <label class="control-label">*</label>
                </div>
                {{if !list.username}}
                <div class="form-group">
                    <label class="col-sm-2 control-label" >密码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password"  name="password" placeholder="密码">
                    </div>
                    <label class="control-label">*</label>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-9">
                    <input type="password" class="form-control"  name="confirmPassword" placeholder="确认密码">
                    </div>
                    <label class="control-label">*</label>
                </div>
                {{/if}}
                <div class="form-group">
                    <label class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" id="email" value="{{list.email}}" name="email" placeholder="邮箱">
                    </div>
                    <label class="control-label">*</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机{{list.editInfo}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="phone" name="phone"  value="{{list.mobile}}" placeholder="手机">
                    </div>
                    <label class="control-label">*</label>
                </div>     
                
                    {{if list.editInfo}}    
                <div class="form-group">
                    <label  class="col-sm-2 control-label">身份</label>
					{{if list.user!='teacher'}}
                    <div class="col-sm-9">
                        <select class="selectpicker" id="selectpicker1" data-style="" readonly="readonly">
                            <option data-id="student">学生</option> 
                            <option data-id="teacher">老师</option>
							{{if list.user=='superAdmin'}}
                            <option data-id="zoneAdmin">校区管理员</option>
							{{/if}}
                        </select>
                        <label class="control-label">*</label>
                    </div>
					{{else}}
					
					<div class="col-sm-9">
                        <input type="text" class="form-control"  value="学生" readonly="readonly">
                    </div>
					{{/if}}
                </div>
              
                
                <div class="form-group" id="zoneSelect">
                    <label  class="col-sm-2 control-label">校区选择</label>
					{{if list.user=='superAdmin'}}
                    <div class="col-sm-10" id="zoneaEnbleSelect">
                        <select class="selectpicker" id="selectpicker2" data-style="" readonly="readonly">
                            {{each list as value i}}
                            <option data-id="{{value._id}}">{{value.address}}</option>
                            {{/each}}
                        </select>
                        <label class="control-label">*</label>
                    </div>
					{{else}}
					<div class="col-sm-9" id="zoneaUnbleSelect">
                        <input type="text" data-id="{{list.belongingId}}" class="form-control" value="{{list.belongingZone}}" readonly="readonly">
                    </div>
					{{/if}}
                </div>

                {{/if}}
                <div class="form-group">
                    <label class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-10"> 
                        <span class="dib control-label">
                        <label class="mr20">
                            <input type="radio" name="sex" checked value="male" > 
                            <span class="dib vm">男性</span>
                        </label>
                        <label>
                            <input type="radio" name="sex" value="female"> 
                                <span class="dib vm">女性</span>
                        </label>
                    </span>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">英文名</label>
                    <div class="col-sm-10">
                    <input type="text" class="form-control" id="englishName" placeholder="英文名">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-success" id="save_btn">保  存</button>
                    </div>
                </div>
                </form>
            </div>
      </div>
    </div>
  </div>