<div class="Foot">
    <ul class="l  Nav_area">
            <a class="Nav_item" href="../lessons/lessons.html" title="课程">
                <li class="Nav_a">
                    lessons
                </li>
            </a>
            <a class="Nav_item" href="../setting/setting.html#0" title="设置">
                <li class="Nav_a">
                    setting
                </li>
            </a>
            <a class="Nav_item" href="../help/help.html" title="帮助">
                <li class="Nav_a">
                    help
                </li>
            </a>

			{{if list!='student'}}
            <a class="Nav_item" href="../admin/admin.html" title="管理">
			    <li class="Nav_a">
                    admin
                </li>
            </a>
			{{/if}}
            <a class="Nav_item" href="javascript:" title="登出" id="logout">
                <li class="Nav_a">
                    logout
                </li>
            </a>
        </ul>
</div>
