<div class="Foot">
    <ul class="l  Nav_area">
            <li class="Nav_item">
                <a href="../lessons/lessons.html" title="课程" class="Nav_a">
                    lessons
                </a>
            </li>
            <li class="Nav_item">
                <a href="../setting/setting.html#0" title="设置" class="Nav_a">
                    setting
                </a>
            </li>
            <li class="Nav_item">
                <a class="Nav_a" href="../help/help.html" title="帮助">
                    help
                </a>
            </li>
            <li class="Nav_item">
                <a class="Nav_a" href="javascript:" title="登出" id="logout">
                    logout
                </a>
            </li>
        </ul>        
</div>