<!--Header-->
<div class="Head">
    <div class="fix">
        <div class="l mr20">
            <a href="../lessons/lessons.html#0" class="g3 tdn">
                <img src="{{list.path}}../images/logo.png" alt="logo"  class="vm ml30">
            </a>
        </div>
        {{if list.session==null}}
         <div class="r">
            <img src="{{list.path}}../images/icon_phone@2x.png" class="vm mr10" alt="study">
            <b class="gf f20 fw ml2$ vm dib"> 
                400 800 8802    
            </b>
        </div>
        
        {{else}}
       <ul class="r mr20 Nav_area">
            <li class="Nav_item">
                <a href="../lessons/lessons.html" title="课程" class="Nav_a">
                    lessons
                </a>
            </li>
            <li class="Nav_item">
                <a href="../setting/setting.html#0" title="设置" class="Nav_a">
                    setting
                </a>
            </li>
            <li class="Nav_item">
                <a class="Nav_a" href="../help/help.html" title="帮助">
                    help
                </a>
            </li>
            <li class="Nav_item">
                <a class="Nav_a" href="javascript:" title="登出" id="logout">
                    logout
                </a>
            </li>
        </ul>
        {{/if}}
    </div>
</div>
<!--Header end-->
