.home_bg{
    background: url('../../images/loginBg.png') no-repeat left top;
    background-size: 110% 150%;
}
.home_round{
    display: inline-block;
    height: 170px;
    width: 170px;
    background: url('../../images/unit2.png');
    background-size:cover, cover;
    font-size: 25px;
    margin: 20px 0;
    color: #fff;
    color: #7BD0FD;
    font-weight:bold;
    line-height: 100px;
    text-shadow: 1px 1px 1px #000;
}

.lesson_bg{
    background: url('../../images/lesson_bg.jpg') no-repeat center left;
     background-size:cover , cover;
}
.lesson_item{
    font-size: 20px;
    width: 50%;
    position: absolute;
    width: 150px; height: 150px;
    text-align: center;
    line-height: 145px;
}
.lesson_item img{
    position: absolute;
    left: 0;
    top: 0;
}
.lesson_w{
    font-size: 30px;
    font-family: 'FZY4JW';
    color: #fff;
    text-shadow: #00712C 2px 0 4px,#00712C 0 2px 4px,#00712C -2px 0 4px,#00712C 0 -2px 4px;
}
.unit_round{
    width: 200px;
    height:220px;
    display:inline-block;
    position: relative
}
.unit_bg{
    background: url('../../images/unit_bg.jpg') no-repeat;
    background-size:cover, cover;
}
.sing_bg{
    background: url('../../images/timg (2).jpeg') no-repeat;
    background-size:cover, cover;
}
.game_bg{
    background: url('../../images/mouse_game/bg.jpg') no-repeat;
    background-size:cover, cover;
}
.login_area{
    width: 350px;
    height: 350px;
    border-radius: 250px;
    /*background: url('../../images/login_area_03.png') no-repeat left top;*/
    background:rgba(33,33,33,.4);
    background-size: 100% 100%;

    display: inline-block;
    vertical-align: middle;
    margin-right: 5%;
    margin-top:-10%;
}
.star_in,.star_out {
    background: url(../img/star.png) no-repeat;
    height: 12px
}

.star_in {
    width: 65px;
    display: inline-block
}

.star_out {
    width: 50%;
    overflow: hidden;
    background-position: 0 -12px;
    float: left
}

.close{
    position: absolute;
    float: right;
    right: 50px;
    top: 50px;
    cursor: pointer;
    z-index: 10;
   }

.close img{
    width: 60px;
    height: 60px;
}
