.home_bg{
    background: url('../../images/home_bg.jpg');
    background-size: 100% 100%
}
.home_round{
    display: inline-block;
    height: 170px;
    width: 170px;
    background: url('../../images/unit_1.png');
    background-size:cover, cover; 
    font-size: 25px;
    margin: 20px 0;
    color: #fff;
    font-weight:bold;
    line-height: 170px;
    text-shadow: 1px 1px 1px #000;
}

.lesson_bg{
    background: url('../../images/lessons_bg.jpg') no-repeat;
     background-size: 100% 100%
}
.unit_round{
    width: 200px;
    height:200px;
    border-radius:100px;
    background:#7BD0FD;
    display:inline-block;
    box-shadow: 0 0 5px #333;
    position: relative
}
.unit_bg{
    background: url('../../images/bg_1.jpeg') no-repeat;
    background-size:cover, cover;
}

.game_bg{
    background: url('../../images/bg_4.png') no-repeat;
    background-size:cover, cover;
}
.login_area{
    background:rgba(33,33,33,.5);
    width: 340px; height: 340px;
    border-radius:170px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5%;
    margin-top:-10%;
}


.star_in,.star_out {
    background: url(../img/star.png) no-repeat;
    height: 12px
}

.star_in {
    width: 65px;
    display: inline-block
}

.star_out {
    width: 50%;
    overflow: hidden;
    background-position: 0 -12px;
    float: left
}
